:root {
  /* Button */

  --cancel-button: #ff4742;
  --submit-button: #2cbc63;
  --update-button: #3664c8;

  /* Hover button */
  --light-cancel-button: #db2822;
  --light-submit-button: #15d960;
}

/* MAIN */
#content main {
  width: 100%;
  font-family: var(--poppins);
  overflow-y: auto;
  background-color: #f9f9ff;
}

.record-docs-section {
  height: 100%;
  margin: 20px;
}

.record-docs-section h1 {
  color: var(--secondary);
  font-size: 35px;
}

.record-docs-break-line {
  border-top: 1px solid var(--secondary);
}

.record-docs-section .add-record-docs-btn {
  padding: 14px 26px;
  text-transform: uppercase;
  float: right;
  margin-top: 20px;
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
  color: var(--light);
}

/* Table */
.record-docs-table {
  margin-top: 75px;
}

table {
  width: 100%;
  border-spacing: 5px;
  padding: 2%;
  border-collapse: collapse;
  table-layout: fixed;
}

td,
th {
  padding: 0.7rem;
  text-align: center;
}

th {
  padding-bottom: 10px;
  background-color: var(--secondary);
  color: var(--tertiary);
}

textarea {
  resize: none;
}

/* ICONS */
.action-icons {
  text-align: center;
  gap: 10px;
  font-size: 21px;
}

.action-icons a {
  font-size: 21px;
  color: black;
}

/* Modal */

/* Modal Styles */
body.active-modal {
  overflow-y: hidden;
}

.modal-office,
.overlay-office {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content-office {
  font-family: var(--poppins), sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: var(--tertiary);
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  min-width: 300px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.close {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Form CSS */
label {
  font-size: 1rem;
}

.form-grid {
  max-width: 100%;
  padding: 10px;
  margin: 10px;
  column-gap: 25px;
}

.form-grid span {
  color: #db2822;
  font-size: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--input-stroke);
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

input:focus {
  border-color: var(--stress);
}

select {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--input-stroke);
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.form .docs-btn-submit {
  background-color: var(--submit-button);
  border: none;
  padding: 10px 20px;
  color: var(--light);
  font-size: 18px;
  border-radius: 10px;
}
.form .docs-btn-update {
  background-color: var(--update-button);
  border: none;
  padding: 10px 20px;
  color: var(--light);
  font-size: 18px;
  border-radius: 10px;
}

/* Modal Large */
.modal-office-lg,
.overlay-office-lg {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
}

.modal-content-office-lg {
  font-family: var(--poppins), sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: var(--tertiary);
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 75%;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.close-lg {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
} 