/* MAIN */

#content main {
  width: 100%;
  font-family: var(--poppins);
  overflow-y: auto;
  background-color: #f9f9ff;
}

.reminder-notf-section {
  margin: 20px;
  overflow-x: auto;
}

.reminders .task_list {
  width: 100%;
}

.reminders .task_list li {
  width: 100%;
  margin-bottom: 16px;
  background-color: var(--grey);
  padding: 14px 10px;
  border-radius: 05px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reminders .task_list li .task_title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reminders h2 {
  padding: 0 0 10px 0;
  font-size: 25px;
}


.reminders .task_list li.uncomplete {
  border-left: 5px solid var(--danger);
}